<h2><%=@characteristic.name%> for <%=@characteristic.item_model.name%></h2>

<h3>Average Rating:</h3>

<h3>Number of Ratings:</h3>

<%=link_to "Add a Review", new_rating_path(characteristic_id: @characteristic.id)%>

