<h2><%=@item_model.name%> Details</h2>

<h3>Product Characteristics:</h3>

<%if !Characteristic.all.empty?%>
    <%=@item_model.characteristics.each do |characteristic|%>
        <%=link_to characteristic.name, characteristic_path(characteristic)%><br>
    <%end%>
<%end%>

<br>

<%=render partial: 'add_char_form', locals: {model: @item_model, char: Characteristic.new}%>



