<div>
    <h2>Current Existing Activities</h2>
    <ul>
        <%@activities.each do |activity|%>
            <div>
            <li><%=link_to activity.name, activity_path(activity)%></li>
            </div>
        <%end%>
    </ul>

    <%=link_to "Create new Activity", new_activity_path%>
</div>