<div>
    <h2>Current Existing Activities</h2>

    <%@activities.each do |activity|%>
        <div>
        <p><%=link_to activity.name, activity_path(activity)%></p>
        </div>
    <%end%>
</div>